body {
	background: url("assets/illust31.jpg");
	font-family: 'Orbitron', sans-serif;
	overflow: hidden;
	margin: 1em;
}
.hidden {
	display: none;
}

section.header {
	width: calc(100% - 2em);
	position: fixed;
	top: 0;
}
section.footer {
	width: 100%;
	text-align: center;
	padding-bottom: 2px;
	padding-top: 5px;
	font-size: smaller;
}
section.footer a {
	padding-left: 5px;
	font-weight: bold;
}
section.body {
	width: calc(100% - 1em);
	position: absolute;
	top: 8em;
	height: calc(100vh - 8em);
	display: flex;
}
section.main {
	width: calc(100% - 3em);
	height: 100%;
	overflow: hidden;
}
.center {
	position: relative;
}
.center.gallery {
	background: #000000a0;
}
.center.gallery > * {
	display: none;
}
.center .gallery {
	display: none;
}
.center.gallery .gallery .image {
	position: absolute;
	inset: 10%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
	transition: opacity 8s ease 1s;
}
.center.gallery .gallery .active {
	opacity: 1;
}
.center.gallery .gallery .passive {
	opacity: 0;
}
.center.gallery .gallery {
	display: block;
	height: calc(100vh - 10em)
}
.center.gallery .gallery .game {
	position: absolute;
	top: 40%;
	width: 100%;
	text-align: center;
	color: #ffffffc0;
	font-size: 2em;
	transition: opacity 8s ease 1s;
}
.center.gallery .gallery .count {
	position: absolute;
	bottom: 0.5em;
	left: 0.5em;
	color: #ffffffc0;
}
.center.gallery .gallery .source {
	position: absolute;
	bottom: 0.5em;
	right: 0.5em;
	color: #ffffffc0;
}
.center.gallery .gallery .source a {
	color: lightskyblue;
}
.menu {
	position: absolute;
	right: 4px;
}
.menu button {
	display: block;
	width: 3em;
	margin-bottom: 1em;
}
section.details {
	display: flex;
	flex-direction: column;
	padding-left: 1em;
	flex-basis: 40em;
	transition: flex-basis 1s;
	position: relative;
}
section.details_hidden {
	flex-basis: 0;
	overflow: hidden !important;
	padding-left: 0;
}
section.details_hidden * {
	display: none;
}
section.details .header {
	padding-right: 4px;
	padding-bottom: 1em;
}
section.details .content {
	overflow-y: auto;
}
section.details .content #info_song {
	word-break: break-word;
}
section.details.info .content {
	padding: 0 1em;
}
section.details h1 {
	font-size: 2.4em;
	margin: 0 1em;
}
section.details.info h1 {
	margin: 0;
}
section.details h2 {
	padding-top: 0.5em;
}
section.details .hide {
	float: right;
	margin-left: 1em;
	position: sticky;
	top: 0;
}
section.details.news h2 {
	margin-bottom: 0.2em;
}
section.details.news h3 {
	margin-top: 0;
	font-size: 1em;
}
section.details.playlist .title {
	display: flex;
}
#playlist {
	padding-left: 3em;
	margin-top: 0;
}
#playlist li {
	line-height: 2em;
	cursor: crosshair;
}
#playlist li:hover {
	background: #ffffff40;
}
#playlist li.dragged {
	list-style: none;
	background: #00000040;
}
#playlist li.playing {
	text-decoration: underline;
}
#playlist li.invalid {
	text-decoration: line-through;
}
#playlist li button {
	margin-left: 1em;
}
.stats_bar {
	display: flex;
	.songs_total, .songs_supported {
		margin: -0.2em 0.5em;
	}
	.slider {
		flex-grow: 1;
		&::part(background) {
			background: #fff;
		}
		&::part(slider) {
			background: #666;
		}
		&::part(label after) {
			color: #fff;
		}
	}
}
.medal {
	&.gold {
		color: #ffee00;
	}
	&.silver {
		color: #888877;
	}
	&.bronze {
		color: #a05000;
	}
}

.controls {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 1em;
}

.controls .logo-title {
	flex-grow: 0.1;
	display: flex;
}
.controls .logo {
	width: 100px;
	height: 100px;
	background: url(assets/sphere.svg);
	background-size: contain;
}
.controls .title h1 {
	margin: 10px;
	font-size: 2.6em;
	font-weight: bold;
	font-style: italic;
}
.controls .title h1 a {
	color: black;
	white-space: nowrap;
}
.controls .title h2 {
	margin: 10px;
	font-size: 1.0em;
	font-weight: bold;
	font-style: italic;
}
.controls .buttons .toggle_gallery {
    background: #000000a0;
    color: #ffffffc0;
	width: 3em;
}
.controls .buttons .toggle_gallery:hover {
    background: #00000080;
    color: #ffffff;
}
.controls .space {
	flex-grow: 0.2;
}

#time_slider_wrapper {
	position: relative;
	flex-basis: 9em;
	flex-grow: 0.4;
	height: 1.3em;
	border-left: 1px solid;
	border-right: 1px solid;
	#time {
		position: absolute;
		inset: 0;
		text-align: center;
		pointer-events: none;
	}
	#time_slider {
		position: absolute;
		inset: 0;
		cursor: pointer;
		&::part(slider) {
			background: #8fbe02;
			opacity: 0.6;
		}
	}
}

.status {
	display: flex;
	flex-direction: column;
	width: 25.6em;

	padding: 6px;
	box-shadow: inset -2px -2px #ccc, inset 2px 2px #555;
	background: #befc03;
	font-family: "D14ML";
}
.multi_info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5px;
	user-select: none;
}
.multi_info a {
	color: #000;
	cursor: pointer;
}
.multi_info a[disabled] {
	opacity: 0.25;
	cursor: not-allowed;
}
.multi_info a.inactive {
	opacity: 0.25;
}
.multi_info #previous {
	width: 16px;
    display: inline-block;
    text-align: right;
}
#song, #time {
	padding: 2px;
}
#volume {
	display: inline-block;
	width: 0.5em;
	height: 1.3em;
	margin: 0 0.2em;
	vertical-align: sub;
	cursor: pointer;
	&::part(background) {
		background: #8fbe02;
	}
	&::part(slider) {
		background: #000;
	}
}


button {
	background: #ffffff60;
	border: none;
	padding: 1em;
	box-shadow: inset -3px -3px #555, inset 3px 3px #bbb;
	cursor: pointer;
}
button:hover {
	background: #ffffffa0;
}
button:active {
	box-shadow: inset -3px -3px #bbb, inset 3px 3px #555;
}
button[disabled] {
	opacity: 0.5;
	cursor: not-allowed;
}
button[disabled]:hover {
	background: #ffffff60;
}
button[disabled]:active {
	box-shadow: inset -3px -3px #555, inset 3px 3px #bbb;
}
button.small {
	font-size: 0.7em;
	padding: 0.8em;
}

a {
	color: navy;
}
i.issue {
	color: maroon;
}

#library tbody tr {
	background: none;
}
#library tbody tr:hover {
	cursor: pointer;
	background: #ffffff40;
}
#library thead .sorting {
	filter: brightness(1.1);
}
#library thead .sorting_asc {
	filter: grayscale(100%) brightness(0.75);
}
#library thead .sorting_desc {
	filter: grayscale(100%) brightness(0.75);
}
#library_filter {
	float: left;
}
#library_filter input {
	border-radius: 0;
	border: none;
	background: #eee;
	box-shadow: inset -2px -2px #ccc, inset 2px 2px #555;
	margin-left: 1em;
	vertical-align: middle;
}
#library_filter input::-webkit-search-cancel-button {
	filter: grayscale(100%) blur(1px);
}
#library_length {
	float: right;
}
#library_length select {
	border-radius: 0;
	border: none;
	background: #eee;
	box-shadow: inset -2px -2px #ccc, inset 2px 2px #555;
}
.library_filters {
	display: inline-block;
	margin-left: 2em;
}
.library_filters select:first-child {
	margin-left: 1em;
}
.library_filters select {
	border-radius: 0;
	border: none;
	background: #eee;
	box-shadow: inset -2px -2px #ccc, inset 2px 2px #555;
	margin: 0 0.5em;
	vertical-align: middle;
	height: 26px;
}
.library_filters select.active {
	background: #888;
	color: #eee;
}

.overlay {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #00000080;
	display: flex;
	align-items: center;
	justify-content: center;
}
.overlay .dialog {
	box-shadow: inset -3px -3px #555, inset 3px 3px #bbb;
	background-color: #ffffffbb;
	padding: 2em;
}
.overlay .dialog h1 {
	font-size: 1.8em;
	text-align: center;
	margin-top: 0;
}
.overlay .buttons {
	display: flex;
	justify-content: space-evenly;
}
.overlay .buttons i {
	margin-right: 0.5em;
}
