body {
	background: url("assets/illust31.jpg");
	font-family: 'Orbitron', sans-serif;
	overflow: hidden;
	margin: 1em;
}
.hidden {
	display: none;
}

section.header {
	width: calc(100% - 2em);
	position: fixed;
	top: 0;
}
section.footer {
	width: 100%;
	text-align: center;
	padding-bottom: 2px;
	padding-top: 5px;
	font-size: smaller;
}
section.footer a {
	padding-left: 5px;
	font-weight: bold;
}
section.body {
	width: calc(100% - 1em);
	position: absolute;
	top: 8em;
	height: calc(100vh - 8em);
	display: flex;
}
section.main {
	width: calc(100% - 3em);
	height: 100%;
	overflow: hidden;
}
.menu {
	position: absolute;
	right: 4px;
}
.show_details {
	display: block;
	width: 3em;
	margin-bottom: 1em;
}
section.details {
	overflow-y: auto;
	padding-left: 1em;
	flex-basis: 40em;
	transition: flex-basis 1s;
	position: relative;
}
section.details_hidden {
	flex-basis: 0;
	overflow: hidden !important;
	padding-left: 0;
}
section.details_hidden * {
	display: none;
}
section.details .header {
	position: absolute;
	left: 1em;
	right: 4px;
}
section.details .content {
	position: absolute;
	top: 4em;
	bottom: 0;
	overflow-y: auto;
	left: 1em;
	right: 0;
}
section.details h1 {
	font-size: 2.4em;
	margin: 0 1em;
}
section.details h2 {
	padding-top: 0.5em;
}
section.details .hide {
	float: right;
	margin-left: 1em;
	position: sticky;
	top: 0;
}
section.details.news h2 {
	margin-bottom: 0.2em;
}
section.details.news h3 {
	margin-top: 0;
	font-size: 1em;
}
section.details.playlist .title {
	display: flex;
}
#playlist {
	padding-left: 3em;
}
#playlist li {
	line-height: 2em;
	cursor: crosshair;
}
#playlist li:hover {
	background: #ffffff40;
}
#playlist li.ui-sortable-helper {
	list-style: none;
}
#playlist li.playing {
	text-decoration: underline;
}
#playlist li button {
	margin-left: 1em;
}
#stats_bar {
	margin: 1.2em 4em;

	height: 0.8em;
	background: #fff;
	position: relative;
}
#stats_bar .ui-slider-range {
	height: 100%;
	background: #666;
}
#stats_bar .ui-slider-handle {
	position: absolute;
	z-index: 2;
	top: -3px;
}
#stats_songs_total {
	float: right;
	margin: -0.2em 0.5em;
}
#stats_songs_supported {
	float: left;
	margin: -0.2em 0.5em;
}

.controls {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1em;
}

.controls .title {
	flex-grow: 0.5;
}
.controls .title h1 {
	margin: 10px;
	font-size: 2.6em;
	font-weight: bold;
	font-style: italic;
}
.controls .title h1 a {
	color: black;
}
.controls .title h2 {
	margin: 10px;
	font-size: 1.0em;
	font-weight: bold;
	font-style: italic;
}

#time_slider {
	position: relative;
	flex-basis: 9em;
	flex-grow: 0.4;
	height: 1.1em;
	padding: 2px 0;
	margin-top: 1px;
	border-left: 1px solid;
	border-right: 1px solid;
	cursor: pointer;
}
#time_slider .ui-slider-range {
	position: absolute;
	top: 0;
	height: 100%;
	background: #8fbe02;
	opacity: 0.6;
}
#time_slider .text {
	position: absolute;
	z-index: 1;
	padding-top: 0;
	width: 100%;
	text-align: center;
}
.status {
	display: flex;
	flex-direction: column;
	width: 23.4em;

	padding: 6px;
	box-shadow: inset -2px -2px #ccc, inset 2px 2px #555;
	background: #befc03;
	font-family: "D14ML";
}
.multi_info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5px;
}
.multi_info a {
	color: #000;
	cursor: pointer;
}
.multi_info a[disabled] {
	opacity: 0.25;
	cursor: not-allowed;
}
.multi_info a.inactive {
	opacity: 0.25;
}
#song, #time {
	padding: 2px;
}

#volume {
	transform: rotate(270deg);
	width: 1.5em;
	height: 10px;
	-webkit-appearance: none;
	background: #000;
	border: 1px solid black;
	cursor: pointer;
}
#volume.silent {
	background: #befc03;
}
#volume::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: 1px solid black;
	width: 4px;
	height: 10px;
	background: #befc03;
}
#volume::-moz-range-thumb {
	border: 1px solid black;
	border-radius: 0;
	width: 4px;
	height: 10px;
	background: #befc03;
}
#volume2 {
	width: 0.5em;
	height: 1.2em;
	background: #8fbe02;
	margin: 0 0.4em;
	position: relative;
	cursor: pointer;
}
#volume2 .ui-slider-range {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #000;
}

button {
	background: #ffffff60;
	border: none;
	padding: 1em;
	box-shadow: inset -3px -3px #555, inset 3px 3px #bbb;
	cursor: pointer;
}
button:hover {
	background: #ffffffa0;
}
button:active {
	box-shadow: inset -3px -3px #bbb, inset 3px 3px #555;
}
button[disabled] {
	opacity: 0.5;
	cursor: not-allowed;
}
button[disabled]:hover {
	background: #ffffff60;
}
button[disabled]:active {
	box-shadow: inset -3px -3px #555, inset 3px 3px #bbb;
}
button.small {
	font-size: 0.7em;
	padding: 0.8em;
}

a {
	color: navy;
}
i.issue {
	color: maroon;
}

#library tbody tr {
	background: none;
}
#library tbody tr:hover {
	cursor: pointer;
	background: #ffffff40;
}
#library thead .sorting {
	filter: brightness(1.1);
}
#library thead .sorting_asc {
	filter: grayscale(100%) brightness(0.75);
}
#library thead .sorting_desc {
	filter: grayscale(100%) brightness(0.75);
}
#library_filter {
	float: left;
}
#library_filter input {
	border-radius: 0;
	border: none;
	background: #eee;
	box-shadow: inset -2px -2px #ccc, inset 2px 2px #555;
	margin-left: 1em;
	vertical-align: middle;
}
#library_filter input::-webkit-search-cancel-button {
	filter: grayscale(100%) blur(1px);
}
#library_length {
	float: right;
}
#library_length select {
	border-radius: 0;
	border: none;
	background: #eee;
	box-shadow: inset -2px -2px #ccc, inset 2px 2px #555;
}
.library_filters {
	display: inline-block;
	margin-left: 2em;
}
.library_filters select:first-child {
	margin-left: 1em;
}
.library_filters select {
	border-radius: 0;
	border: none;
	background: #eee;
	box-shadow: inset -2px -2px #ccc, inset 2px 2px #555;
	margin: 0 0.5em;
	vertical-align: middle;
	height: 26px;
}
.library_filters select.active {
	background: #888;
	color: #eee;
}
